h1,h2,h3,h4,h5,h6
  font-family: inherit
  font-weight: 500
  line-height: 1.5
  color: inherit


h1, h2, h3, h4, h5, h6
  margin: .8em 0


h1
  font-size: $baseFontSize * 1.6
h2
  font-size: $baseFontSize * 1.4
h3
  font-size: $baseFontSize * 1.2
h4
  font-size: $baseFontSize
h5
  font-size: $baseFontSize
h6
  font-size: $baseFontSize
