
// floatImg
//
// 右か左に画像をフロートさせるタイプのブロック
//
// Markup: <div class="floatImg floatImg--left">
// <div class="floatImg__img--left">
//   <img src="../img/thumb_president.jpg" alt=""/>
// </div>
// <div class="floatImg__txt">
//   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
//   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
//   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
//   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
//   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
// </div>
//
//
// .floatImg--right - float right
// .floatImg--left - float left
//
// Styleguide 6
.floatImg
  clrfx()

  &__img
    // modifier
    &--left
      float: left
      margin: 0 10px 10px 0

    &--right
      float: right
      margin: 0 0 10px 10px

