.tab
  &__list
    text-align: center
    border-bottom: 1px solid #ccc

  &__item
    display: inline-block
    margin: 0 5px
    width: 100px
    padding: 6px 10px
    a
      display: block
      padding: 6px 10px
      margin: -6px -10px
      background: #666
      color: #fff
    &.active
      a
        background: #888

  &__body
    padding: 10px 0


