
.table
  width: 100%
  th,td
    padding: .5em
    border: 1px solid $lightGray

  &__heading01
    background: #7f7f7f
    color: $white
    text-align: center
    font-weight: bold

  &__heading02
    background: #efefef

  &__td
    &--name
      width: 200px
    &--tel
      width: 150px

  // modifier
  &--blue
    th,td
      background: $lightBlue
      border: 1px solid $white

    &__th
      width: 40px



