extends layout

block content
  h1= title
  p Welcome to #{title}

  .container
    .row
      .col6
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Facillimum id quidem est, inquam. Duo Reges: constructio interrete. Nos cum te, M. Sin kakan malitiam dixisses, ad aliud nos unum certum vitium consuetudo Latina traduceret. Nihilo magis. Ut enim consuetudo loquitur, id solum dicitur honestum, quod est populari fama gloriosum. Multa sunt dicta ab antiquis de contemnendis ac despiciendis rebus humanis;
      .col6
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Facillimum id quidem est, inquam. Duo Reges: constructio interrete. Nos cum te, M. Sin kakan malitiam dixisses, ad aliud nos unum certum vitium consuetudo Latina traduceret. Nihilo magis. Ut enim consuetudo loquitur, id solum dicitur honestum, quod est populari fama gloriosum. Multa sunt dicta ab antiquis de contemnendis ac despiciendis rebus humanis;
