doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/assets/css/style.css')
  body
    .container
      block content

    script(src='/assets/libs/js/jquery.js')
    script(src='/assets/libs/js/underscore.js')
    script(src='/assets/libs/js/backbone.js')
    script(src='/assets/js/app.js')
