doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/assets/css/style.css')
  body
    .container
      block content

    script(src='/assets/libs/jquery.js')
    script(src='/assets/libs/underscore.js')
    script(src='/assets/libs/backbone.js')
    script(src='/assets/js/app.js')
