/*!
row

複数カラムを作りたい時に、それらを包むdivに付与するクラス

このクラスをつけた要素（通常はdiv か ul）の子要素（li と div）は全て float: left; が適用される

Markup: <div class="row">
<div class="col6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ad rem redeamus; Cur, nisi quod turpis oratio est? Utilitatis causa amicitia est quaesita. Et quidem illud ipsum non nimium probo et tantum patior, philosophum loqui de cupiditatibus finiendis.</div>
<div class="col6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ad rem redeamus; Cur, nisi quod turpis oratio est? Utilitatis causa amicitia est quaesita. Et quidem illud ipsum non nimium probo et tantum patior, philosophum loqui de cupiditatibus finiendis.</div>
</div>

Styleguide 1.1
*/
