
// Helper
//
// html helper class
//
// Markup: - <p class="tar">テキストを右寄せにします</p>
//
// Styleguide 3
.tal
  text-align left
  margin-right auto

.tar
  text-align right
  margin-left auto

.tac
  margin-left auto
  margin-right auto
  text-align center


.txtOrange
  color $orange