
//--------------------------------------------------
// supported browser
//--------------------------------------------------
$support-ie6 = false
$support-ie7 = false
$support-ie8 = false
$support-ie9 = true
$support-ie10 = true
$support-ie11 = true

$support-ios4 = false
$support-ios5 = true
$support-ios6 = true

$support-android2 = false
$support-android3 = true
$support-android4 = true


//-------------------------------------------------
// グリッドサイズ
//-------------------------------------------------
$column-width = 62px
$gutter-width = 26px

// コンテンツ全体のサイズ
$content-width = ( $column-width * 12 ) + ( $gutter-width * 11 )
//$content-width = 1000px

// レスポンシブフラグ
$support-responsive = false


// ------------------------------------------------
// font size
// ------------------------------------------------
$baseFontSize = 16px

// ------------------------------------------------
// 共通マージン
// ------------------------------------------------
$mgn01 = 20px

